# Test panda file

In [2]:
import pandas as pd

In [62]:
#read file
df = pd.read_csv('../CSVs/survey_results_public.csv')
#df.fillna(value, inplace=True)

In [64]:
df.shape

(73268, 79)

In [63]:
df.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [4]:
# create new dataframe
fruit_sales = pd.DataFrame({'Apples': [35,41], 'Bananas': [21,34]}, index=['2017 Sales', '2018 Sales'])

# save in a new csv
#fruit_sales.to_csv('new_file_with_changes.csv')

In [30]:
#indexing
df['MainBranch'][75]

# with iloc
df.iloc[54]

#get columns to iloc
df.iloc[:,0]

# select a second and third entries
df.iloc[1:3, 0]

#listing
df.iloc[[1,2,3],0]

#geting the last 3 elements
df.iloc[-3:,0]

ResponseId
73266    I am not primarily a developer, but I write co...
73267                       I am a developer by profession
73268    I used to be a developer by profession, but no...
Name: MainBranch, dtype: object

In [66]:
#label based selections
df.loc[0,'MainBranch']

#getting many columns
df.loc[:, ['MainBranch', 'RemoteWork', 'SurveyLength']]

#conditional selection
df.loc[df.MainBranch == 'None of these']

#conditional operator 
df.loc[(df.MainBranch == 'None of these') & (df.ResponseId <= 87)]

df.loc[(df.ResponseId < 300) | (df.CodingActivities == 'Hobby')]

#built-in conditional selectors
df.loc[df.CodingActivities.isin(['Hobby', 'I don’t code outside of work'])]

df.loc[df.CodingActivities.notnull()].head(3)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0

In [5]:
#manipulating index
#fruit_sales.set_index("Apples")

#assining data
fruit_sales['Bananas'] = "new"
fruit_sales

            Apples Bananas
2017 Sales      35     new
2018 Sales      41     new

In [6]:
df_bike = pd.read_csv('../CSVs/SeoulBikeData2.csv')
df_bike.head()

   Unnamed: 0  bike_count  temp  humidity  dew_pt_temp  radiation  rain  snow
0          12         449   1.7        23        -17.2       1.11   0.0   0.0
1          36         479   4.3        41         -7.8       1.09   0.0   0.0
2          60         333   5.8        85          3.4       0.43   0.0   0.0
3          84         393  -0.3        38        -12.9       1.11   0.0   0.0
4         108         321  -2.3        25        -19.7       0.00   0.0   0.0

In [98]:
#summary functions
df_bike.bike_count.describe() 

#to string datas
df.MainBranch.describe()

#get some particular data summary
df_bike.bike_count.mean()
df_bike.rain.unique()
df_bike.radiation.count()

#maps
bike_means = df_bike.bike_count.mean()
df_bike.bike_count.map(lambda b: b - bike_means)

#apply
def change_count (row):
    row.bike_count = row.bike_count - bike_means
    return row

df_bike.apply(change_count, axis='columns')

,Unnamed: 0,bike_count,temp,humidity,dew_pt_temp,radiation,rain,snow
0,12.0,-250.441096,1.7,23.0,-17.2,1.11,0.0,0.0
1,36.0,-220.441096,4.3,41.0,-7.8,1.09,0.0,0.0
2,60.0,-366.441096,5.8,85.0,3.4,0.43,0.0,0.0
3,84.0,-306.441096,-0.3,38.0,-12.9,1.11,0.0,0.0
4,108.0,-378.441096,-2.3,25.0,-19.7,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...
360,8652.0,52.558904,9.1,57.0,1.0,1.69,0.0,0.0
361,8676.0,-27.441096,9.3,61.0,2.1,0.85,0.0,0.0
362,8700.0,-64.441096,7.9,14.0,-18.0,1.81,0.0,0.0
363,8724.0,-38.441096,5.6,27.0,-11.9,0.34,0.0,0.0
364,8748.0,20.558904,6.6,35.0,-7.8,1.70,0.0,0.0

In [1]:
#simple operators
df.MainBranch + "-" + df.RemoteWork

df_bike.temp + df_bike.humidity

In [8]:
#function to call in apply
def rating_radiation(row):
    if row.radiation > 0.5:
        return 2
    elif row.radiation > 1:
        return 0
    elif row.radiation < 0.5:
        return 3
    
stars_rating_radiation = df_bike.apply(rating_radiation, axis='columns')

In [79]:
#groupby bike counts for humid days
df_bike.groupby('humidity').bike_count.count().head()

#groupby using apply
df_bike.groupby('humidity').apply(lambda c: c.bike_count.iloc[0])

#df.groupby(['CodingActivities', 'Employment']).apply(lambda c: c.loc[c.YearsCode.idxmax()])
#df.head()

#using agg to pass funcions
humidity_vaules = df_bike.groupby('humidity').radiation.agg([min,max])

#use sorting_values
humidity_vaules.sort_values(by=['min', 'max'], ascending=False)

#agruping by mean
df_bike.groupby('temp').humidity.mean()

#soting by size
df_bike.groupby('temp').size().sort_values(ascending=False)

temp
23.2    5
20.5    5
18.2    5
25.2    5
6.9     4
       ..
11.5    1
11.7    1
11.9    1
12.4    1
14.9    1
Length: 247, dtype: int64

In [98]:
#getting type of column
df_bike.humidity.dtype

#getting types of data frame
df_bike.dtypes

#transform int64 into float64
df_bike.bike_count.astype('float64')

#verify if data is null
df[pd.isnull(df.LearnCodeCoursesCert)]

#df[pd.notnull(df.LearnCodeOnline)]

#Replacing missing values data
df.LearnCodeCoursesCert.fillna("Unknown")

#replacing a specific value
df.RemoteWork.replace('Fully remote', 'Fully online', inplace=True)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully online,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully online,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN